/vendor/
/node_modules/
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.DS_Store
Thumbs.db
